{% include 'recipes/partials/_head.html' %}

<body>
    {% include 'recipes/partials/_header.html' %}
    {% include 'recipes/partials/_search.html' %}

    <main class='main-content-container'>
        <div class="main-content main-content-list container">
        
            {% include 'recipes/partials/_recipes.html' %}
            {% include 'recipes/partials/_recipes.html' %}
            {% include 'recipes/partials/_recipes.html' %}
            {% include 'recipes/partials/_recipes.html' %}
            {% include 'recipes/partials/_recipes.html' %}
        </div>
        {% include 'recipes/partials/_footer.html' %}
    </main>
</body>
</html>